.main {
  background-color: #e5ae56;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px; /* Add padding for better spacing on small screens */
}

.container {
  height: 70%;
  width: 70%;
  max-width: 1200px; /* Add a max-width for large screens */
  box-shadow: 0px 0px 40px rgba(68, 68, 68, 0.7);
  border-radius: 50px;
  background-color: #c55061;
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Add padding for content */
}

.left {
  background-color: rgb(252, 246, 237);
  border-radius: 42px;
  justify-content: space-between;
}

.logo {
  background-image: url("/logo.svg");
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.image {
  background-image: url("/auth.png");
  height: auto;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-color: transparent;
}

.para {
  color: #ffaeba;
  margin-top: 40px;
  margin-left: 30px;
  margin-top: 80px;
}

.span {
  font-weight: 600;
  color: white;
}

.span:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1108px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .right {
    height: 100%;
  }

  .left {
    margin: 0;
    border-radius: 0px;
    display: none;
  }

  .logo,
  .image {
    margin: 0 auto;
  }

  .para {
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }
}
